/*
Theme Name: spacedebris
 */
*{
	box-sizing: border-box;
}
body{
	background-color: #ddd;
}
img{
	width: 100%;
	

}
.myrow{
	margin-top: 10px;
}
 

.callout h2{
	padding: 10px;
	background-color: orange;
}



