/*
Theme Name: chopshop
 */

header{
	height: 200px;
	width: 100%;
	background-image: url('images/header.jpg');
}

header img{
	width: 100%;
	height: 200px;
}

#sidebar{
	border-right: 4px solid #999;
	min-height: 600px;
}

#my_div{
	
	min-height: 600px;
}


footer ul{
	width: 44%;
	margin: 0 auto;
}

footer ul li{
	display: inline-block;
	float: left;
	padding: 0 20px 0 12px;
}

